<div class="main">

<% @words.each do |word| %>
  <strong class="word"><%= link_to word.spelling, word_path(word), hreflang: "en", rel: "help"  %></strong>
  <% word.definitions.each do |definition| %>
    <p>
      <%= definition.explaination %>
    </p>
  <% end %>
  <hr>
<% end %>
</div>
