<h1>Search Results</h1>
<% @query.each do |result| %>
<p>
  <strong><%= result.spelling %></strong>
</p>
<% result.definitions.each do |definition| %>
  <p>
    <%= definition.explaination %>
  </p>
<% end %>

<% end %>

<%# will_paginate @query %>
