// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letters{
    text-decoration: none;
    li{
      display: inline;
      padding-left: .5em;
      padding-right: .5em;

      a {
        text-decoration: none;
    }
  }
}
