// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.word-list{
  text-align: left;
  p{
    width: 650px;
    line-height: 130%;
  }
}

.left-nav{
  float: left;
  width: 15%;
}

.right-cont{
  width: 80%;
  float: right;
  padding-bottom: 2em;
}
.terms{

  h2{
    text-decoration: underline;
  }
  ol{
    li{
    }
  }
  padding: 2em;
  text-align: left;
}
