
<div class="terms">
  <div class="left-nav">
    <ul>
      <li><a href="#terms">Terms of use</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><%= link_to "Report-a-bug", root_path %></li>
      <li><a href="#colaborate">Collaborate</a></li>
    </ul>
  </div>

  <div class="right-cont">


  <h1>
    Guahan Dictionary Terms of Service
  </h1>
  <h3 id="terms">Our End</h3>
  <ol type="I">
    <li>
  There is no warranty.
  </li>
  <li>
  Use of this service is "At will" and "As is".
  </li>
  <li>
  We do not promise the accuracy of the information provided.
  </li>
  <li>
  The information provided has been collected from multiple "good" resources.
  </li>
  <li>
  The site may be down at anytime, for any number reasons.
  </li>
  <li>
    Do not rely on this site as your sole resource for chamorru translations. <br>Do your own research.
  </li>
  </ol>

  <h3>Your End</h3>
  <ol type= "I">
    <li>
      You accept the above terms.
    </li>
    <li>
      You agree to providing the most accurate content you can.
    </li>
    <li>
      You will refrain from attempting to abuse this web application and will pay <br> for any damages caused by non-adherence to the same.
    </li>
  </ol>

  <h3 id="faq">Frequently Asked Questions</h3>
  <ul>
    <li>...</li>
  </ul>

  <h3 id="colaborate">Ways to help us improve
  </h3>
  <p>
    <em>
    If you like what you see why not make it better?
  </em><br>
  <ol>
    <li>
    It's easier to make something good better. This is a living breathing<br> website, your contribution will either kill it or help it grow.
    </li>
    <li>You can contribute word origins, images, and definitions</li>
    <li>Report bugs and errors through <a href ="#">report-a-bug</a></li>
  </ol>
  

  <em>If you don't like where this is going</em><br>
  We are open to suggestions...<a href="">contact us here</a>
  </div>


</div>
